.container-fluid
  .row-fluid
    .offset4
      %img.photo{:id => 'photo', :src => url("#{@auction.picture_path}")}
  .row-fluid
    .offset4 
      %p A brief description of the item - 
      %p #{@auction.description}
      %p Minimum Bid - 
      %p #{@auction.start_bid}
      %p Send this link to everyone you want to bid in the auction 
      %a{:href => url("/bid/#{@auction.bid_guid}"), :target => "_blank"}=url("/bid/#{@auction.bid_guid}")
      %h4 Auction administration link
      %p Use this link to view and manage your auction 
      %a{:href => url("/admin/#{@auction.auction_guid}"), :target => "_blank"}=url("/admin/#{@auction.auction_guid}")

