.container-fluid
  .row-fluid
    .offset4
      %img.photo{:id => 'photo', :src => url("#{@auction.picture_path}")}
  .row-fluid
    .offset4
      %p A brief description of the item - 
      %p #{@auction.description}
      %p Minimum Bid - 
      %p #{@auction.start_bid}
      %p Highest bid so far - 
      = @auction_high_bid
%hr
  .row-fluid
    %h4 Bids so far...
    %table.table.table-striped
      %thead
        %tr
          %th Name
          %th Email
          %th Bid Value
        %tbody
        - @auction.bids.each do |bid|
          %tr
            %td #{bid.name}
            %td #{bid.email}
            %td #{bid.value}