.container-fluid
  .row-fluid
    .span3.offset4
      %img.photo{:id => 'photo', :src => url("#{@auction.picture_path}")}
  %form{:action => 'auction_price', :method => 'post'}
    .row-fluid
      .span2.offset4
        - if form.failed?
          %ul
            - form.messages(:post_catalag_description).each do |message|
              %li= message
        %textarea.input-block-level{:placeholder => 'Enter a description', :name => 'description'}
        %input.input-block-level{:type => 'hidden', :id => 'auction_guid', :name => 'auction_guid', :value => @auction.auction_guid}
    .row-fluid
      .span2.offset4
        %button.btn.btn-large.btn-primary{:type => 'submit'} Next