.container-fluid
  .row-fluid
    .span3.offset4
      .photo{:id => 'list'}
  %form{:action => 'auction_description', :method => 'post', :enctype=>'multipart/form-data'}
    .row-fluid
      .span1.offset5
        - if form.failed?
          %ul.error
          - form.messages(:post_auction_picture).each do |message|
            %li= message
        %input.hide-file-upload{:placeholder => 'Take a picture', :id => 'photo', :name => 'photo', :type => 'file', :accept => 'image/*' , :capture => 'camera'}
        %a.btn.btn-photo{:href => '#', :id => 'choose_picture', :title => 'Choose Picture'} 
          %i.icon-camera 
          %span Choose Picture
    .row-fluid
      .span2.offset5
        %button.btn.btn-large.btn-primary{:type => 'submit'} Next

- content_for :footer do
  %script{ :src => '/js/jquery-1.9.1.min.js', :type => 'text/javascript'}
  %script{ :src => '/js/localImageDisplayer.js', :type => 'text/javascript'}
  :javascript
    document.getElementById('photo').addEventListener('change', displayImageInPage, false);
    function triggerFileUpload(event){
      $('#photo').trigger('click');
    }
    $('#choose_picture').bind('click',triggerFileUpload);
