.container-fluid
  .row-fluid
    .span3.offset4
      %img.photo{:id => 'photo', :src => url("#{@auction.picture_path}")}
  .row-fluid
    .span3.offset4
      %p A brief description of the item - 
      %p #{@auction.description}
  %form{:action => 'add_contacts', :method => 'post'}
    .row-fluid
      .offset4
        - if form.failed?
          %ul
            - form.messages(:post_catalag_description).each do |message|
              %li= message
        %input.input-block-level{:placeholder => 'Start Bid', :name => 'bidvalue', :id => 'bidvalue'} 
        %input.input-block-level{:type => 'hidden', :id => 'start_bid', :name => 'start_bid'}
        %input.input-block-level{:type => 'hidden', :id => 'auction_guid', :name => 'auction_guid', :value => @auction.auction_guid}
    .row-fluid
      .span2.offset4
        %button.btn.btn-large.btn-primary{:type => 'submit', :id => 'submit'} Next

- content_for :footer do
  %script{ :src => '/js/jquery-1.9.1.min.js', :type => 'text/javascript'}
  %script{ :src => '/js/autoNumeric.js', :type => 'text/javascript'}
  :javascript
    var bidvalue = $('#bidvalue');
    bidvalue.autoNumeric('init', {aSign: 'Rs. ', dGroup: 2});
    $('#submit').click(function() {
      $('#start_bid').val(bidvalue.autoNumeric('get'));
    });