.container-fluid
  .row-fluid
    .offset4
      %img.photo{:id => 'photo', :src => url("#{@auction.picture_path}")}
  .row-fluid
    .offset4 
      %p A brief description of the item - 
      %p #{@auction.description}
      %p Minimum Bid - 
      %p #{@auction.start_bid}
  .row-fluid
    .offset4
      %h2 Your Auction has been created!  
  .row-fluid.marketing
    .offset4 
      %p Send this link to everyone you want to bid in the auction 
      %a{:href => url("/bid/#{@auction.bid_guid}"), :target => "_blank"}=url("/bid/#{@auction.bid_guid}")
  .row-fluid.marketing
    .offset4 
      %p Use this link to view and manage your auction 
      %a{:href => url("/admin/#{@auction.auction_guid}"), :target => "_blank"}=url("/admin/#{@auction.auction_guid}")
%hr