.container-fluid
  .row-fluid
    .offset4
      %img.photo{:id => 'photo', :src => url("#{@auction.picture_path}")}
  .row-fluid
    .offset4
      %p A brief description of the item - 
      %p #{@auction.description}
      %p Minimum Bid - 
      %p #{@auction.start_bid}
      %p Highest bid so far - 
      = @auction_high_bid
%hr
  .row-fluid
    .offset4
      %h2 Submit your bid!
      %form{:action => "", :method => 'post'}
        - if form.failed?
          %ul 
          - form.messages(:post_generateauction).each do |message|
            %li= message
        %input.input-block-level{:placeholder => 'Enter your name', :name => 'name'}
        %input.input-block-level{:placeholder => 'Enter your email', :name => 'email'}
        %input.input-block-level{:placeholder => 'Enter your bid amount in numeric form', :name => 'bidvalue', :id => 'bidvalue'} 
        %input.input-block-level{:type => 'hidden', :id => 'value', :name => 'value'}
        %button.btn.btn-large.btn-primary{:type => 'submit', :id => 'submit'} Submit

- content_for :footer do
  %script{ :src => '/js/jquery-1.9.1.min.js', :type => 'text/javascript'}
  %script{ :src => '/js/autoNumeric.js', :type => 'text/javascript'}
  :javascript
    var bidvalue = $('#bidvalue');
    bidvalue.autoNumeric('init', {aSign: 'Rs. ', dGroup: 2});
    $('#submit').click(function() {
      $('#value').val(bidvalue.autoNumeric('get'));
    });