%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %link{ :href => "/css/bootstrap.css", :type => "text/css", :rel => "stylesheet" }
    %link{ :href => "/css/bootstrap-responsive.css", :type => "text/css", :rel => "stylesheet" }	
    %link{ :href => "/css/site.css", :type => "text/css", :rel => "stylesheet" }	
    = yield_content :header
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %a.brand{:href => '/'} Firesell
    .container-fluid.page= yield
    .footer= yield_content :footer
