
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      .page {
         margin-top: 30px;
      }

			.input-block-level {
        font-size: 16px;
        height: auto;
        width: 350px;
        margin-top: 30px;
        margin-bottom: 15px;
        padding: 7px 9px;
			}

      .photo {
        margin-bottom: 30px;
        height: auto;
        width: 350px;

      }     

      .hide-file-upload {
        display: none;
      }

      .btn-photo {
        height: 50px;
        padding: 11px 19px;
        font-size: 17.5px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;    
        border-radius: 7px;
        margin: 3px;
      }